@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    /* font-family: "Raleway", sans-serif; */
}
body{
    font-size: 16px;
    color: #000;
    font-family: "Poppins", sans-serif;
}
ul, ol, li, p{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
a{
    text-decoration: none;
    outline: none;
}
input,select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
}
figure, .figure, .picture{
    position: relative;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    width: 100%;
}
.picture > img,
.picture > iframe,
.picture > video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.login-button{
    background-color: #FA7335;
    color: #fff;
    height: 42px;
    top: 8px;
    border-radius: 4px;
    border: 1px;
    text-decoration: none;
    padding: 9px 20px;
    justify-content: center;
    font-size: 14px;
}

.dropdown-menu li a:hover{
    color: black;
    font-weight: 500;
    cursor: pointer;
}
.navbar-toggler{
    border: none;
    font-size: 1.25rem;
}
.navbar-toggler-icon{
    border: 1px solid #FA7335;
    border-radius: 5px;
    padding: 15px;
}
.navbar-toggler:focus .btn-close:focus{
    box-shadow: none;
    outline: none;
}
.nav-link:hover, .nav-link:active{
    color: #FA7335;
}
.section_banner{
    width: calc(100% - 60px);
    margin: 0 auto;
    background: url(../Images/banner.jpg) no-repeat;
    background-size: cover;
    background-position: bottom right;
    height: 726px;
    border-radius: 24px;
}
.section_banner .container{
    position: relative;
    height: 100%;
}
.section_banner .custom_banner_content{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.section_banner .custom_banner_content .travel_button{
    background: #FEFA17;
    padding: 13px 23px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    width: 230px;
}
.section_banner .custom_banner_content ul li h1{
    font-family: "Raleway", sans-serif;
    font-size: 52px;
    font-weight: 800;
    line-height: 61px;
}
.section_banner .custom_banner_content .download_link{
    display: flex;
    padding-top: 64px;
    gap: 8px;
}
.section_banner .custom_banner_content ul li{
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.section_banner .custom_banner_content ul li a img{
    border: none;
}
/* responsiveness->banner */
@media (max-width: 1024px) {
    .section_banner{width: calc(100% - 50px);}
    .section_banner .custom_banner_content{
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .section_banner .custom_banner_content ul li h1{
        font-size: 46px;
    }
    .section_banner .custom_banner_content ul li a img{height: 60px;}
}
@media (max-width: 767px) {
    .login-button{
        height: 35px;
        padding: 9px 17px;
        font-size: 14px;
    }
    .section_banner{width: calc(100% - 35px);}
    .section_banner .custom_banner_content .travel_button{
        padding: 10px 20px;
        font-size: 15px;
    }
}
@media (max-width: 767px) {
    .section_banner{width: calc(100% - 25px);}
    .section_banner .custom_banner_content ul li{font-size: 12px; line-height: 15px;}
    .section_banner .custom_banner_content ul li h1{font-size: 32px; line-height: 40px;}
    .section_banner .custom_banner_content .travel_button{
        padding: 8px 17px;
        font-size: 15px;
    }
    .section_banner .custom_banner_content .download_link{
        padding-top: 3px;
        gap: 8px;
    }
    .section_banner .container{
        height: 80%;
    }
}
/* experience_world section */
.experience_world .exp_content{
    gap: 122px;
    margin-top: 120px;
}
.experience_world .exp_content .exp_written_content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.experience_world .exp_content .exp_written_content .exp_box{
    background-color: #DEF2F0;
    width: 600px;
    height: 106px;
}
.experience_world .exp_content .exp_written_content .plane_content{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.experience_world .exp_content .exp_written_content .discover-button{
    background-color: #FA7335;
    color: #fff;
    height: 48px;
    width: 170px;
    top: 8px;
    border-radius: 4px;
    border: 1px;
    text-decoration: none;
    padding: 12px 30px;
    justify-content: center;
    font-size: 16px;
    margin-top: 32px;
}
.experience_world .exp_content .exp_written_content p{
    color: #FA7335; 
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    line-height: 24px;
    font-weight: 500;
}
.experience_world .exp_content .exp_written_content ul li h2{
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 57px;
    color: #012E41;
}
.experience_world .exp_content .exp_written_content ul li p{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #345867;
}
.experience_world .exp_content .exp_written_content .plane_content div ul li{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 500;
}
.experience_world .exp_content .exp_written_content .exp_box p{
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    color: #012E41;
    padding: 24px 92px 32px 52px;
}
/* responsive experience_world section */
/* Max width 1199px */
@media (max-width: 1199px) {
    .experience_world .exp_content {
        gap: 60px;
    }

    .experience_world .exp_content .exp_written_content .exp_box {
        width: 450px;
    }

    .experience_world .exp_content .exp_written_content ul li h2 {
        font-size: 36px;
        line-height: 44px;
    }

    .experience_world .exp_content .exp_written_content .exp_box p {
        font-size: 20px;
        padding: 20px 40px;
    }

    .experience_world .exp_content > .col img {
        width: 100%;
        max-width: 450px;
        height: auto;
        object-fit: contain;
    }
}

/* Max width 1024px */
@media (max-width: 1024px) {
    .experience_world .exp_content {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 40px;
    }

    .experience_world .exp_content .exp_written_content {
        flex: 1;
    }

    .experience_world .exp_content .exp_written_content ul li h2 {
        font-size: 32px;
    }

    .experience_world .exp_content .exp_written_content ul li p {
        font-size: 14px;
    }

    .experience_world .exp_content .exp_written_content .exp_box {
        width: 100%;
    }

    .experience_world .exp_content > .col {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .experience_world .exp_content > .col img {
        max-width: 380px;
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}

/* Max width 991px */
@media (max-width: 991px) {
    .experience_world .exp_content {
        flex-direction: column;
        gap: 30px;
    }

    .experience_world .exp_content .exp_written_content {
        align-items: center;
        text-align: center;
    }

    .experience_world .exp_content .exp_written_content .plane_content {
        justify-content: center;
    }

    .experience_world .exp_content .exp_written_content ul li h2 {
        font-size: 32px;
    }

    .experience_world .exp_content .exp_written_content .exp_box p {
        font-size: 20px;
    }
}

/* Max width 767px */
@media (max-width: 767px) {
    .experience_world .exp_content .exp_written_content ul li h2 {
        font-size: 28px;
    }

    .experience_world .exp_content .exp_written_content ul li p {
        font-size: 14px;
    }

    .experience_world .exp_content .exp_written_content .exp_box {
        height: auto;
    }

    .experience_world .exp_content .exp_written_content .exp_box p {
        padding: 20px;
    }

    .experience_world .exp_content .exp_written_content .plane_content {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
}

/* Max width 575px */
@media (max-width: 575px) {
    .experience_world .exp_content {
        padding: 0 16px;
    }

    .experience_world .exp_content .exp_written_content ul li h2 {
        font-size: 24px;
    }

    .experience_world .exp_content .exp_written_content .discover-button {
        width: 100%;
        padding: 12px 0;
    }

    .experience_world .exp_content .exp_written_content .exp_box p {
        font-size: 18px;
        padding: 16px;
    }

    .experience_world .exp_content .exp_written_content .plane_content div ul li {
        font-size: 16px;
    }
}
/* best places */
.best_places{
    margin-top: 120px;
}
.best_places .best_places_container{
    background-color: #F6F6F6;
    padding: 60px 48px 0px 60px;
    text-align: center;
    border-radius: 12px;
}
.best_places .best_places_container .orange_head p{
    color: #FA7335;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 4px;
}
.best_places .best_places_container h1{
    color: #012E41;
    font-size: 48px;
    line-height: 57px;
    font-weight: 600;
    margin-bottom: 16px;
}
.best_places .best_places_container > .row:nth-child(3) p {
    color: #345867;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    max-width: 700px;
    margin: 0 auto 40px;
}
.best_places .best_places_photo_main_container{
    padding: 0px 36px 36px 36px;
    background-color: #F6F6F6;
}
.best_places .best_places_photo_main_container .best_img {
    padding: 33px;
    border: 1px solid #E7E7E7;
    border-radius: 8px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 14px;
}
.best_places .best_places_photo_main_container .best_img h5{
    color: #012E41;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}
.best_places .best_places_photo_main_container .best_img p{
    color: #345867;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}
/* best_places responsiveness */
/* ---------- max-width: 1199px ---------- */
@media (max-width: 1199px) {
  .best_places .best_places_container h1 {
    font-size: 40px;
    line-height: 50px;
  }
}
/* ---------- max-width: 1024px ---------- */
@media (max-width: 1024px) {
  .best_places .best_places_container h1 {
    font-size: 36px;
    line-height: 44px;
  }

}

/* ---------- max-width: 991px ---------- */
@media (max-width: 991px) {
  .best_places .best_places_container {
    padding: 48px 32px 0;
  }

  .best_places .best_places_container h1 {
    font-size: 32px;
    line-height: 40px;
  }
}

/* ---------- max-width: 767px ---------- */
@media (max-width: 767px) {
  .best_places .best_places_container {
    padding: 40px 24px 0;
  }

  .best_places .best_places_container h1 {
    font-size: 28px;
    line-height: 36px;
  }

  .best_places .best_places_container > .row:nth-child(3) p {
    font-size: 15px;
    line-height: 22px;
  }
  .best_places .best_places_photo_main_container .best_img{
    padding: 24px;
  }
}

/* ---------- max-width: 575px ---------- */
@media (max-width: 575px) {
  .best_places {
    margin-top: 80px;
  }

  .best_places .best_places_container h1 {
    font-size: 24px;
    line-height: 32px;
  }

  .best_places .best_places_container > .row:nth-child(3) p {
    font-size: 14px;
    line-height: 20px;
  }
  .best_places .best_places_photo_main_container .best_img{
    align-items: center;
    justify-content: center;
    padding: 16px;
  }
}

/* meet our team section */
.meet_team{
    margin-top: 120px;
}
.meet_team .team_heading{
    max-width: 590px;
    margin: 0 auto 36px
}
.meet_team .team_heading p{
    color: #FA7335;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 4px;
}
.meet_team .team_heading h1{
    color: #012E41;
    font-size: 48px;
    line-height: 57px;
    font-weight: 600;
}
.meet_team .members .member_block{
    position: relative;
    padding: 24px 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.meet_team .members .member_block::after{
    width: 100%;
    height: 49%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #012E41;
    content: '';
    z-index: -1;
    border-radius: 8px;
}
.meet_team .members .member_block .member_role{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.meet_team .members .member_block .member_pf img{
    border-radius: 50%;
    border: 1px solid #012E41;
    padding: 16px;
}
.meet_team .members .member_block .member_role h3{
    color: #fff;
    font-size: 34px;
    font-weight: 600;
    line-height: 40px;
}
.meet_team .members .member_block .member_role p{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
/* meet team section responsiveness */
@media (max-width: 1199px) {
    .meet_team .team_heading h1 {
        font-size: 42px;
        line-height: 50px;
    }

    .meet_team .members .member_block .member_role h3 {
        font-size: 30px;
        line-height: 36px;
    }
}

@media (max-width: 1024px) {
    .meet_team .team_heading h1 {
        font-size: 38px;
        line-height: 46px;
    }

    .meet_team .members .member_block .member_pf img {
        padding: 12px;
    }

    .meet_team .members .member_block {
        padding: 20px 16px 36px;
    }
}
@media (max-width: 991px) {
    .meet_team .team_heading h1 {
        font-size: 34px;
        line-height: 42px;
    }
    .meet_team .members .member_block .member_role h3 {
        font-size: 28px;
    }
}
@media (max-width: 768px) {
    .meet_team {
        margin-top: 80px;
    }

    .meet_team .team_heading h1 {
        font-size: 28px;
        line-height: 38px;
    }
    .meet_team .members .member_info{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .meet_team .members .member_block .member_role h3 {
        font-size: 24px;
        line-height: 30px;
    }
}
@media (max-width: 576px) {
    .meet_team .team_heading {
        padding: 0 15px;
    }
    .meet_team .team_heading h1 {
        font-size: 26px;
        line-height: 32px;
    }
    .meet_team .members .member_block .member_role h3 {
        font-size: 22px;
    }
    .meet_team .members .member_block .member_role p {
        font-size: 12px;
    }
    .meet_team .members .member_block .member_pf img {
    width: 170px;
    height: 170px;
    }
    .meet_team .members .member_block::after{
    width: 100%;
    height: 56%;
    border-radius: 6px;
    }
}
/* know_us section */
.know_us{
    margin: 60px 0;
}
.know_us .know_us_heading{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 4px;
}
.know_us .know_us_heading label{
    color: #FA7335;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    line-height: 24px;
    font-weight: 500;
}
.know_us .know_us_heading h1{
    color: #012E41;
    font-size: 48px;
    line-height: 57px;
    font-weight: 600;
    max-width: 514px;
}
.know_us .know_us_heading p{
    color: #012E41;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    max-width: 612px;
    padding-top: 12px;
    margin-bottom: 60px;
}
.know_us .know_us_block .content_left{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 24px;
}
.know_us .know_us_block .content_left .content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 16px;
    padding: 0 53px 124px 12px;
}
.know_us .know_us_block .content_left .content h4{
    color: #012E41;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
}
.know_us .know_us_block .content_left .content p{
    color: #345867;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
/* .know_us section responsiveness */
@media (max-width: 1199px) {
    .know_us .know_us_heading h1 {
        font-size: 42px;
        line-height: 52px;
    }
    .know_us .know_us_block .know_us_image img {
        width: 100%;
        max-width: 400px;
    }
    .know_us .know_us_block .content_left .content {
        padding: 0 0 10px 0;;
    }
}
@media (max-width: 1024px) {
    .know_us .know_us_heading h1 {
        font-size: 38px;
        line-height: 48px;
    }
    .know_us .know_us_heading p {
        padding-top: 10px;
        margin-bottom: 50px;
    }
    .know_us .know_us_block .content_left .content{
        gap: 5px;
    }
    .know_us .know_us_block .content_left .content h4 {
        font-size: 22px;
        line-height: 26px;
    }
    .know_us .know_us_block .content_left .content p {
        font-size: 15px;
    }
}
@media (max-width: 991px) {
    .know_us .know_us_heading h1 {
        font-size: 28px;
        line-height: 44px;
    }
    .know_us .know_us_block .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        text-align: center;
    }
    .know_us .know_us_block .content_left {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
    }
    .know_us .know_us_block .content_left .content {
        flex: 1 1 45%;
        max-width: 300px;
        padding: 0;
        align-items: center;
    }
    .know_us .know_us_block .know_us_image img {
        max-width: 70%;
        height: auto;
    }
}
@media (max-width: 575px) {
    .know_us {
        margin: 40px 0;
    }
    .know_us .know_us_heading h1 {
        font-size: 28px;
        line-height: 36px;
    }
    .know_us .know_us_heading p {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 20px;
    }
    .know_us .know_us_block .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }
    .know_us .know_us_block .content_left {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
    }
    .know_us .know_us_block .content_left .content {
        flex: 1 1 45%;
        max-width: 100%;
        padding: 0;
        text-align: center;
    }
    .know_us .know_us_block .content_left .content h4 {
        font-size: 18px;
    }
    .know_us .know_us_block .content_left .content p {
        font-size: 14px;
        line-height: 20px;
    }
    .know_us .know_us_block .know_us_image img {
        max-width: 90%;
        height: auto;
    }
}

/* popular tour */
.popular_tour{
    padding: 60px 0;
}
.popular_tour .tour_heading{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 4px;
    margin-bottom: 60px;
}
.popular_tour .tour_heading label{
    color: #FA7335;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    line-height: 24px;
    font-weight: 500;
}
.popular_tour .tour_heading h1{
    color: #012E41;
    font-size: 48px;
    line-height: 57px;
    font-weight: 600;
    max-width: 551px;
}
.popular_tour .tour_filter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 32px;
    margin-bottom: 40px;
}
.popular_tour .tour_filter a{
    color: #012E41;
    border: 1px solid transparent;
    padding: 8px 16px;
    border-radius: 20px;
}
.popular_tour .tour_filter a:hover{
    border: 1px solid #012E41;
}
.popular_tour .tour_filter .active_link{
    border: 1px solid #012E41;
    border-radius: 20px;
    padding: 8px 16px;
}
.popular_tour .cards .card_details .card_content .book_trip_btn{
    background-color: #FA7335;
    color: #fff;
    height: 42px;
    width: 100px;
    border-radius: 4px;
    border: 1px;
    padding: 12px 30px;
    font-size: 16px;
}
.popular_tour .cards .card_details .like-btn {
  position: absolute;
  top: 10px;
  right: 10px;

  height: 34px;
  width: 34px;
  border-radius: 50%;
  background-color: #F4F4F6;

  padding: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.like-btn:hover {
  background-color: #e2e2e6;
}

.popular_tour .cards .card_details .like-btn .heart-icon {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.popular_tour .cards .card_details{
    border: 1px solid #E9E9E9;
    border-radius: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.popular_tour .cards .card_details .card_content{
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.popular_tour .cards .card_details .card_content .card_centent_first{
    gap: 10px;
}
.popular_tour .cards .card_details .card_content .card_centent_first .place label{
    color: #345867;
    font-size: 14;
    font-weight: 400px;
}
.popular_tour .cards .card_details .card_content .card_centent_first h4{
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
}
.popular_tour .cards .card_details .card_content .card_centent_sec{
    margin-top: 35px;
}
.popular_tour .cards .card_details .card_content .card_content_sec .price h3{ 
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
}
.popular_tour .cards .card_details  figure {
    padding-top: 62.1%;
}
/* .price{
    margin-top: 50px;
    bottom: 0;
} */
/* popular_tour responsiveness */
@media (max-width: 1199px) {
  .popular_tour .tour_heading h1 {
    font-size: 42px;
    line-height: 50px;
  }
}
@media (max-width: 1024px) {
  .popular_tour .tour_heading h1 {
    font-size: 36px;
    line-height: 44px;
  }
  .popular_tour .tour_filter {
    flex-wrap: wrap;
    gap: 20px;
  }
  .popular_tour .cards .card_details .card_content {
    padding: 20px;
  }
}
@media (max-width: 991px) {
  .popular_tour {
    padding: 40px 0;
  }

  .popular_tour .tour_heading h1 {
    font-size: 36px;
    line-height: 40px;
  }

  .popular_tour .card_content .card_centent_first h4 {
    font-size: 18px;
    line-height: 22px;
  }

  .popular_tour .book_trip_btn {
    width: 90px;
    font-size: 14px;
    padding: 10px 20px;
  }
}
@media (max-width: 767px) {
  .popular_tour .tour_heading h1 {
    font-size: 28px;
    line-height: 36px;
  }

  .popular_tour .tour_filter {
    flex-direction: row;
    gap: 5px;
  }

  .popular_tour .cards .card_details .card_content {
    padding: 16px;
  }

  .popular_tour .card_content .card_centent_first h4 {
    font-size: 16px;
    line-height: 20px;
  }

  .popular_tour .card_content .price h3 {
    font-size: 20px;
  }

  .popular_tour .book_trip_btn {
    width: 100%;
  }
}

/* ≤ 575px */
@media (max-width: 575px) {
  .popular_tour .tour_heading label {
    font-size: 12px;
  }

  .popular_tour .tour_heading h1 {
    font-size: 24px;
    line-height: 32px;
    padding: 0 10px;
  }

  .popular_tour .card_content .card_centent_first h4 {
    font-size: 15px;
    line-height: 18px;
  }

  .popular_tour .cards .card_details .card_content {
    padding: 12px;
  }

  .popular_tour .book_trip_btn {
    font-size: 14px;
    height: auto;
    padding: 8px 16px;
  }
}
/* top destination section */

.top_destination{
    padding-top: 60px;
} 
.top_destination .destination_heading p{
    color: #FA7335;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    line-height: 24px;
    font-weight: 500;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 4px;
 }
 .top_destination .destination_heading h1{
    color: #012E41;
    font-size: 48px;
    line-height: 57px;
    font-weight: 600;   
    max-width: 522px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 60px;
 }
 .object-fit-cover {
  object-fit: cover;
}

.overlay-text {
  position: absolute;
  bottom: 32px;
  left: 32px;
  color: white;
}

.overlay-text h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  font-family: Roboto, sans-serif;
}

.overlay-text p {
  font-size: 14px;
  line-height: 24px;
}
.row_gap{
    margin-bottom: 29px;
}
.position-relative {
  overflow: hidden; 
}

.position-relative img {
  transition: transform 0.4s ease;
}

.position-relative:hover img {
  transform: scale(1.05); 
}

.overlay-text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: white;
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 2;
  text-align: left;
}

.position-relative:hover .overlay-text {
  opacity: 1;
}

.overlay-text h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 8px;
}

.overlay-text p {
  font-size: 14px;
  line-height: 24px;
}
.overlay-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(1, 46, 65, 0.3); 
  border-radius: 0.5rem;
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 1;
}

.position-relative:hover .overlay-bg,
.position-relative:hover .overlay-text {
  opacity: 1;
}
.dest_btn{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.dest_btn a{
    border-radius: 4px;
    border: 1px;
    color: white;
    background: rgba(1, 46, 65, 1);
    padding: 9px 26px;
    font-weight: 400;
    font-family: 14px;
    line-height: 24px;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 15px;
}
/* distination responsiveness */
/* Max-width 1199px */
@media (max-width: 1199px) {
  .dest_heading_h1 {
    font-size: 42px;
    line-height: 52px;
  }
}
@media (max-width: 1024px), (max-width: 991px) {
  .dest_heading_h1 {
    font-size: 38px;
    line-height: 48px;
    margin-bottom: 50px;
  }

  .overlay-text h3 {
    font-size: 20px;
  }

  .overlay-text p {
    font-size: 13px;
  }

  .overlay-text {
    bottom: 24px;
    left: 24px;
  }
}
@media (max-width: 767px) {
  .dest_heading_h1 {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 30px;
  }

  .overlay-text h3 {
    font-size: 18px;
  }

  .overlay-text p {
    font-size: 12px;
  }

  .overlay-text {
    bottom: 16px;
    left: 16px;
  }
}
@media (max-width: 575px) {
  .dest_heading_h1 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
    text-align: center;
  }

  .dest_heading_p {
    font-size: 12px;
  }

  .overlay-text h3 {
    font-size: 16px;
  }

  .overlay-text p {
    font-size: 11px;
  }

  .overlay-text {
    bottom: 12px;
    left: 12px;
  }
}
/* trending destination */
.section_tending_destination{
    padding: 120px 0;
    background: #F6F6F6;
}
.section_tending_destination .section_title {
    max-width: 590px;
    margin: 0 auto 60px;
    text-align: center;
}
.section_tending_destination .section_title label{
    font-size: 14px;
    color: #FA7335;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    margin-bottom: 4px;
}
.section_tending_destination .section_title h2{
    font-size: 48px;
    color: #012E41;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}
.section_tending_destination .tending_destination_block{
    padding: 24px;
    background: #fff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 24px;
}
.section_tending_destination .tending_destination_block .picture{
    padding:80px;
    width: auto;
    border-radius: 12px;
}
.section_tending_destination .tending_destination_block .tending_destination_info{
    width: calc(100% - 184px);
}
.section_tending_destination .tending_destination_block .tending_destination_info h3{
    font-size: 20px;
    color: #012E41;
    font-weight: 600;
}
.section_tending_destination .tending_destination_block .tending_destination_info .rivew_price{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
 
.section_tending_destination .tending_destination_block .tending_destination_info .rivew_price .review{
    display: flex;
    align-items: center;
    gap: 4px;
}
.section_tending_destination .tending_destination_block .tending_destination_info .rivew_price .price{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: #012E41;
}
.section_tending_destination .tending_destination_block .tending_destination_info .rivew_price .price span{
    font-size: 14px;
    font-weight: 400;
}
.section_tending_destination .tending_destination_block .tending_destination_info .btn_block{
    width: 100%;
    display: flex;
}
.section_tending_destination .tending_destination_block .tending_destination_info .btn_block a{
    font-size: 14px;
    color: #F4F4F6;
    padding: 8.5px 16px;
    background: #26A59E;
    border-radius: 4px;
}
/* testimonial section */

.text-orange{color: #FA7335;}
.testimonial_h1{color: #012E41;}
.carousel-inner{
    overflow: visible;
}
.custom_change{
    padding-top: 60px;
}
.carousel-item {
      text-align: center;
      padding: 3rem 2rem;
      border: 1px solid #00a3af;
      border-radius: 10px;
      position: relative;
    }

    .testimonial-img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      border-radius: 50%;
      position: absolute;
      top: -40px;
      left: 50%;
      transform: translateX(-50%);
      border: 3px solid #fff;
      background: #eee;
    }

    .testimonial-text {
      margin-top: 40px;
      font-size: 16px;
      color: #333;
      max-width: 718px;
    }

    .testimonial-name {
      font-weight: 600;
      font-size: 18px;
      margin-top: 20px;
    }

    .testimonial-role {
      font-size: 14px;
      color: #666;
    }

    .carousel-control-prev, .carousel-control-next {
      width: auto;
      top: 50%;
      transform: translateY(-50%);
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      background-color: #00a3af;
      border-radius: 4px;
      padding: 10px;
    }
    .custom_prev{
      transform: translate(-50%, -50%);
      background: #FFFFFF;
      opacity: 1;
      height: 40px;
      width: 40px;
      border: 1px solid #012E41;
      border-radius: 4px;
    }

    .custom_next {
      transform: translate(50%, -50%);
      background: #FFFFFF;
      opacity: 1;
      height: 40px;
      width: 40px;
      border: 1px solid #012E41;
      border-radius: 4px;
}

.carousel-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

    /* @media (max-width: 768px) {
      .carousel-item {
        padding: 4rem 1rem;
      }
    } */

/* Max width 1199px */
@media (max-width: 1199px) {
  .testimonial-text {
    font-size: 15px;
    max-width: 600px;
  }

  .carousel-item {
    padding: 2.5rem 1.5rem;
  }
}

/* Max width 1024px */
@media (max-width: 1024px) {
  .testimonial-text {
    font-size: 15px;
    max-width: 550px;
  }

  .carousel-item {
    padding: 2rem 1.2rem;
  }
}

/* Max width 991px */
@media (max-width: 991px) {
  .testimonial-text {
    font-size: 14px;
    max-width: 500px;
  }

  .testimonial-img {
    width: 70px;
    height: 70px;
    top: -35px;
  }

  .carousel-item {
    padding: 2rem 1rem;
  }

  .testimonial-name {
    font-size: 16px;
  }

  .testimonial-role {
    font-size: 13px;
  }
}

/* Max width 767px */
@media (max-width: 767px) {
  .testimonial-text {
    font-size: 14px;
    max-width: 90%;
  }

  .carousel-box {
    flex-direction: column;
  }

  .carousel-item {
    padding: 3rem 1rem;
  }

  .custom_prev,
  .custom_next {
    height: 36px;
    width: 36px;
  }

  .testimonial-img {
    width: 60px;
    height: 60px;
    top: -30px;
  }

  .testimonial-name {
    font-size: 15px;
  }

  .testimonial-role {
    font-size: 12px;
  }
}

/* Max width 575px */
@media (max-width: 575px) {
  .carousel-item {
    padding: 2rem 0.8rem;
  }

  .testimonial-text {
    font-size: 13px;
    max-width: 100%;
  }

  .testimonial-img {
    width: 55px;
    height: 55px;
    top: -28px;
  }

  .testimonial-name {
    font-size: 14px;
  }

  .testimonial-role {
    font-size: 11px;
  }

  .custom_prev,
  .custom_next {
    height: 30px;
    width: 30px;
  }
}


/* faq section */
.faq{
    background-color: #F6F6F6;
    padding: 120px 0;
}
.faq_main{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    gap: 78px;
}
.faq_p{
    color: #FA7335;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    line-height: 24px;
    font-weight: 500;
    padding-bottom: 4px;
}
.faq_h1{
    color: #012E41;
    font-size: 48px;
    line-height: 57px;
    font-weight: 600;
    max-width: 522px;
    margin-bottom: 60px;
    text-align: start;
}
.faq .picture{
    width: 40%;
}
.custom_acc{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 60%;
}
.custom_collapse{
    border-bottom: 4px solid #26A59E;
}
.accordion-item {
    border: none;
    border-radius: 0px;
}
.accordion-body{
    color: #345867;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.accordion-button{
    color: #012E41;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
}
.accordion-button:not(.collapsed) {
    background-color: #FFFFFF;
    box-shadow: none;
}
.horizontal_line{
    background-color: #26A59E;
    width: 753px;
    height: 4px;
    top: 140px;
}
/* faq responsiveness */
/* Max width 1199px */
@media (max-width: 1199px) {
    .faq .picture{
        width: 100%;
    }
    .custom_acc{
        gap: 14px;
        width: 100%;
    }
    .faq_h1 {
        font-size: 42px;
        line-height: 50px;
    }
    .faq_main {
        gap: 50px;
    }
}

/* Max width 1024px */
@media (max-width: 1024px) {
    .faq_h1 {
        font-size: 38px;
        line-height: 46px;
    }
    .faq_main {
        gap: 40px;
    }
    .horizontal_line {
        width: 500px;
    }
}

/* Max width 991px */
@media (max-width: 991px) {
    .faq_main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .faq .picture, .custom_acc {
        width: 100%;
    }
    .faq_p{
        text-align: center;
    }
    .faq_h1 {
        font-size: 34px;
        line-height: 42px;
        text-align: center;
        margin: 0 auto;
    }

    .horizontal_line {
        width: 100%;
    }
}

/* Max width 767px */
@media (max-width: 767px) {
    .faq {
        padding: 80px 0;
    }

    .faq_h1 {
        font-size: 30px;
        line-height: 38px;
    }

    .accordion-button {
        font-size: 18px;
    }

    .accordion-body {
        font-size: 15px;
    }
}

/* Max width 575px */
@media (max-width: 575px) {
    .faq {
        padding: 60px 0;
    }

    .faq_h1 {
        font-size: 26px;
        line-height: 34px;
    }

    .faq_p {
        font-size: 13px;
    }

    .accordion-button {
        font-size: 16px;
        line-height: 22px;
    }

    .accordion-body {
        font-size: 14px;
        line-height: 22px;
    }

    .faq_main {
        gap: 30px;
    }

    .faq .position-relative img {
        transition: transform 0.4s ease;
        width: 100%;
    }
}

/* blog section */
.blog{margin-top: 120px;}
.blog_heading{max-width: 622px;margin: 0 auto;}
.blog_p{
    color: #FA7335;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
}
.blog_h1{
    color: #012E41;
    font-size: 48px;
    line-height: 57px;
    font-weight: 600;
    max-width: 622px;
    margin-bottom: 60px;
    text-align: center;
    vertical-align: middle;
}
.blog_cards{
    border: 1px solid #E9E9E9;
    border-radius: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.overlay_date{
    position: absolute;
    top: 24px;
    left: 24px;
    background-color: rgba(250, 115, 53, 1);
    height: 64px;
    width: 56px;
    border-radius: 4px;
}
.overlay_date p{
    padding-top: 8px;
    font-size: 16px;
    font-weight: 400;
    vertical-align: middle;
    text-align: center;
}
.custom_card{margin-top: 60px;}
.card_img .picture{
    padding-top: 63%;
}
.blog_card_content{
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_p{
    color: #FA7335;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}
.card_h5{
    padding-top: 8px;
    color: #012E41;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
}
.blog_profile{
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: 24px;
}
.blog_profile h5{color: rgba(1, 46, 65, 1);}
.blog_profile p{
    color: rgba(1, 46, 65, 1);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    vertical-align: middle;
}
/* blog responsiveness  */
/* max-width: 1199px */
@media (max-width: 1199px) {
    .blog_h1 {
        font-size: 40px;
        line-height: 48px;
    }
    .card_h5 {
        font-size: 18px;
    }
}

/* max-width: 1024px */
@media (max-width: 1024px) {
    .blog_h1 {
        font-size: 36px;
        line-height: 44px;
    }

    .blog_card_content {
        padding: 20px;
    }

}

/* max-width: 991px */
@media (max-width: 991px) {
    .blog {
        margin-top: 80px;
    }

    .blog_h1 {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 40px;
    }

    .custom_card {
        margin-top: 40px;
    }

    .card_h5 {
        font-size: 17px;
        line-height: 22px;
    }

    .blog_profile p {
        font-size: 15px;
    }
}

/* max-width: 767px */
@media (max-width: 767px) {
    .blog {
        margin-top: 60px;
    }

    .blog_h1 {
        font-size: 28px;
        line-height: 36px;
    }

    .blog_p {
        font-size: 13px;
    }

    .card_h5 {
        font-size: 16px;
        line-height: 22px;
    }

    .blog_card_content {
        padding: 16px;
    }

    .blog_profile {
        margin-top: 16px;
        gap: 12px;
    }

    .blog_profile p {
        font-size: 14px;
    }
}

/* max-width: 575px */
@media (max-width: 575px) {
    .blog {
        margin-top: 40px;
    }

    .blog_h1 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 30px;
    }

    .blog_p {
        font-size: 12px;
    }

    .custom_card {
        margin-top: 30px;
    }

    .overlay_date {
        top: 16px;
        left: 16px;
        height: 50px;
        width: 44px;
    }

    .overlay_date p {
        font-size: 14px;
        padding-top: 6px;
    }

    .card_h5 {
        font-size: 14px;
        line-height: 20px;
    }

    .blog_profile {
        margin-top: 12px;
        gap: 10px;
    }

    .blog_profile p {
        font-size: 13px;
    }

}

/* subscribe section */
.subscribe{
    margin: 120px 0;
}
.background_banner{
    background-image: url("../images/Background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 93px 60px;
    border-radius: 16px;
}
.subsribe_main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.subscribe_h3{
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    vertical-align: middle;
    color: white;
    max-width: 441px;
}
.subscribe_p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;
    max-width: 394px;
    color: white;
    padding: 16px 0;
}
.subscibe_btn{
    max-width: 500px;
    margin: auto 0;
}
.subscibe_btn button{
    background-color: rgba(1, 46, 65, 1);
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-right: 38px;
}
.custom_form{
    width: 556px;
    margin-left: 16px;
}
/* subscribe section responsiveness*/
/* Max width 1199px */
@media (max-width: 1199px) {
    .background_banner {
        padding: 80px 40px;
    }

    .subscribe_h3 {
        font-size: 42px;
        line-height: 52px;
    }

    .custom_form {
        width: 100%;
    }
}

/* Max width 1024px */
@media (max-width: 1024px) {
    .subscribe_h3 {
        font-size: 38px;
        line-height: 48px;
    }

    .subscribe_p {
        font-size: 15px;
        max-width: 100%;
    }

    .subsribe_main {
        gap: 20px;
    }
}

/* Max width 991px */
@media (max-width: 991px) {
    .subsribe_main {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .subscribe_h3 {
        font-size: 34px;
        line-height: 44px;
        max-width: 100%;
    }

    .subscribe_p {
        font-size: 15px;
        padding: 12px 0 20px;
    }

    .form_c {
        width: 100%;
    }

    .subscibe_btn {
        flex-direction: column;
        padding: 1rem;
        gap: 12px;
        max-width: 100%;
    }

    .custom_form {
        width: 100%;
        margin-left: 0;
    }

    .subscibe_btn button {
        margin-right: 0;
        width: 100%;
    }
}

/* Max width 767px */
@media (max-width: 767px) {
    .background_banner {
        padding: 60px 30px;
    }

    .subscribe_h3 {
        font-size: 30px;
        line-height: 40px;
    }

    .subscribe_p {
        font-size: 14px;
    }

    .subscribe {
        margin: 80px 0;
    }
}

/* Max width 575px */
@media (max-width: 575px) {
    .background_banner {
        padding: 40px 20px;
    }

    .subscribe_h3 {
        font-size: 26px;
        line-height: 36px;
    }

    .subscribe_p {
        font-size: 13px;
        line-height: 20px;
    }

    .subscibe_btn {
        padding: 0.75rem;
    }

    .subscribe {
        margin: 60px 0;
    }
}
/* footer */
    footer{
    background: #F7FDFC;
}
.main_footer{
    padding: 60px 0;
    border-bottom: 1px solid #E7E7E7;
}
.custom_f_gap{
    column-gap: 165px;
}
.footer_logo{
    padding-bottom: 12px;
}
.custom_color{
    color: #012E41;
}
.footer_1_p{
    max-width: 269px;
    color: #345867;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.footer_icon{
    padding-top: 12px;
}
.footer_h5{
    color: #012E41;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
}
.custom_footer_gap{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
}
.custom_padding_1{
    padding-bottom: 45px;
    max-width: 330px;
}
.custom_padding_2{
    padding-bottom: 48px;
    max-width: 330px;
}
.custom_padding_3{
    padding-bottom: 80px;
    max-width: 330px;
}
.footer_f{
    padding: 24px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    vertical-align: middle;
    color: #345867;
    text-align: center;
    margin: 0 auto;
}
